@model Atlice.WebUI.Pages.Tap.IndexModel.StatusModel
@{
    Layout = null;
}
 <div class="div-block-104">
                <div class="page-editor-top-bar published-page">
                    <a href="#" class="close-editor-button published-page inactive w-inline-block"><img src="../images/home-board-icon.png" loading="lazy" height="35" width="35" data-w-id="e975562f-65e2-4019-91c4-dbdd5bd17725" alt="" class="image-89"></a>
                    <div style="color:@Model.Color;" id="w-node-e975562f-65e2-4019-91c4-dbdd5bd17726-50649d88" class="button-5 atlice-button-primary publish published-page">@Model.Status</div>
                    <a onclick="javascript: { document.getElementById('status').innerHTML = ''; }" href="#" class="close-editor-button published-page w-inline-block"><img src="~/images/close-x-delete-reject-decline.png" loading="lazy" height="35" data-w-id="e975562f-65e2-4019-91c4-dbdd5bd17729" alt="" class="image-90"></a>
                </div>
            </div>