@{
    Layout = null;
}
  <div data-w-id="b864d9c6-3dbe-deaa-af78-5ade0465aeaa" class="mobile-bottom-bar home-board">
        <div class="app-navbar-container-2">
            <div class="bottom-bar-nav-menu">
                <a href="#1" data-w-id="b864d9c6-3dbe-deaa-af78-5ade0465aead" class="bottom-bar-item w-inline-block">
                    <img src="../images/bar-chart-statistic-signal.png" loading="lazy" width="32" alt="" class="user-profile-icon">
                    <div class="icon-text-box">Analytics</div>
                </a>
                <a onclick="fetch('/homeboard/index?handler=updatecontactlist').then(x=>x.json()).then(y=> document.getElementById('contactListDiv').innerHTML = y.view)" href="#1" data-w-id="b864d9c6-3dbe-deaa-af78-5ade0465aeb1" class="bottom-bar-item w-inline-block">
                    <img src="../images/Artboard-22.png" loading="lazy" width="30" alt="" class="contacts-icon">
                    <div class="icon-text-box">Contacts</div>
                </a>
                <div id="w-node-b864d9c6-3dbe-deaa-af78-5ade0465aeb5-0465aeaa" data-w-id="b864d9c6-3dbe-deaa-af78-5ade0465aeb5" class="bottom-bar-item center"><img src="../images/pages-icon.png" loading="lazy" width="50" alt="" class="home-icon"></div>
                <a id="devicesButton" href="#1" data-w-id="b864d9c6-3dbe-deaa-af78-5ade0465aeb7" class="bottom-bar-item w-inline-block">
                    <img src="../icons/deviceBlack.png" loading="lazy" width="30" alt="" class="analytics-icon">
                    <div class="icon-text-box">Devices</div>
                </a>
                <a href="#1" data-w-id="b864d9c6-3dbe-deaa-af78-5ade0465aebb" class="bottom-bar-item w-inline-block">
                    <img src="../images/chat-conversation-message-bubble.png" loading="lazy" width="30" alt="" class="shop-line-icon">
                    <div class="icon-text-box">Support</div>
                </a>
            </div>
        </div>
    </div>