@{
    Layout = null;
}
  <div class="app-desktop-mask-div">
        <div class="container-22 w-container">
            <div class="section-15 wf-section">
                <img src="../images/Image-427.png" loading="lazy" width="180" sizes="(max-width: 991px) 100vw, 180px" srcset="../images/Image-427-p-500.png 500w, ../images/Image-427-p-800.png 800w, ../images/Image-427-p-1080.png 1080w, ../images/Image-427.png 1316w" alt="">
                <h3 class="heading-61">Atlice Tap is created for mobile view only.<br>Please sign in at <a href="Https://atlice.com">atlice.com</a> on a mobile device..<br></h3>
            </div>
        </div>
    </div>