@{
    Layout = null;
}
 <div data-collapse="all" data-animation="default" data-duration="400" id="Atlice-Nav" data-easing="ease" data-easing2="ease" role="banner" class="atlicenav landing-page w-nav">
    <div data-delay="300" data-hover="true" class="premium-dropdown w-dropdown">
      <div class="account-drop-down w-dropdown-toggle">
        <a href="#" class="iphone-nav-title"> </a><img src="../images/face_icons-circle-07.png" width="30" alt="">
      </div>
      <nav class="limited-dropdown-list w-dropdown-list">
        <a href="#" class="lnd_dropdown_link w-inline-block">
          <div class="mg-nav-link-text">account</div>
        </a>
        <a href="#" class="lnd_dropdown_link w-inline-block">
          <div class="mg-nav-link-text">channels</div>
        </a>
        <a href="#" class="lnd_dropdown_link w-inline-block">
          <div class="mg-nav-link-text">digest</div>
        </a>
        <a href="#" class="lnd_dropdown_link w-inline-block">
          <div class="mg-nav-link-text"><strong class="bold-text-31">Log out</strong></div>
        </a>
      </nav>
    </div>
    <nav role="navigation" class="nav-menu-2 w-nav-menu">
      <div class="navigation-layer-content">
        <div class="navigation-layer-padding">
          <div class="navigation-layer-image">
            <a href="mailto:Info@atlice.com?subject=Contact%20us" class="button-2 red w-inline-block">
              <div class="button-icon">→</div>
              <div class="button-label-2">Contact Us</div>
            </a>
          </div>
          <div class="padding menu">
            <div class="navigation-accordion-wrapper">
              <div class="accordion-item">
        
                <div class="accordion-item-content">
                  <div class="padding bgcolor-light-grey">
                    <ul role="list" class="horizontal-list w-list-unstyled">
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Home Version 1</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Home Version 2</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Home Version 3</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Home Version 4</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Home Version 5</h5>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
           
              <div class="accordion-item">
              
                <div class="accordion-item-content">
                  <div class="padding bgcolor-light-grey">
                    <ul role="list" class="horizontal-list w-list-unstyled">
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Covers</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Content</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Gallery</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Features</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Blog</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Team</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Testimonials</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Pricings</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Forms</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Contacts</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">Footers</h5>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <a href="#" target="_blank" class="accordion-item-trigger w-inline-block">
                  <h4 class="display-3-new">Shop (COming Soon)</h4>
                  <h4 class="heading-45">→</h4>
                </a>
              </div>
          
              <div class="accordion-item">
                <a href="https://atlice.com/identity/account/login" target="_blank" class="accordion-item-trigger log-out w-inline-block">
                  <h4 class="display-3-new">sign in</h4>
                  <h4 class="expand-icon">+</h4>
                </a>
                <div class="accordion-item-content">
                  <div class="padding bgcolor-light-grey">
                    <ul role="list" class="horizontal-list w-list-unstyled">
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">About Version 1</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">About Version 2</h5>
                        </a>
                      </li>
                      <li class="underline-none">
                        <a href="#" class="margin-list-item w-inline-block">
                          <h5 class="display-3">About Version 3</h5>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <ul role="list" class="horizontal-list w-list-unstyled">
              <li class="underline-none">
                <a href="#" target="_blank" class="social-icon big w-inline-block"><img src="https://uploads-ssl.webflow.com/5de5ed53766a8e20114b1256/5de5ed53766a8ecab34b12a8_iconmonstr-facebook-6.svg" alt=""></a>
              </li>
              <li class="underline-none">
                <a href="#" target="_blank" class="social-icon big w-inline-block"><img src="https://uploads-ssl.webflow.com/5de5ed53766a8e20114b1256/5de5ed53766a8e6b344b12a9_iconmonstr-twitter-1.svg" alt=""></a>
              </li>
              <li class="underline-none">
                <a href="#" target="_blank" class="social-icon big w-inline-block"><img src="https://uploads-ssl.webflow.com/5de5ed53766a8e20114b1256/5de5ed53766a8ede134b12b7_iconmonstr-instagram-11.svg" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="nav-background" style="height:50%;" id="addToHomeDiv">
        <div class="navigation-bg"></div>
       @* <a href="#" class="logo-wrapper w-nav-brand">
            <img src="../images/Image-427.png" sizes="(max-width: 991px) 100vw, 100px" srcset="../images/Image-427-p-500.png 500w, ../images/Image-427-p-800.png 800w, ../images/Image-427-p-1080.png 1080w, ../images/Image-427.png 1316w" alt="" class="logo-image-black"><img src="../images/Image-410.png" sizes="100vw" srcset="../images/Image-410-p-500.png 500w, ../images/Image-410-p-800.png 800w, ../images/Image-410-p-1080.png 1080w, ../images/Image-410.png 1316w" alt="" class="logo-image-white">
            <div class="logo-hover"></div>
        </a>*@
@*        <div class="hamburger-menu w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"><img src="https://uploads-ssl.webflow.com/5de5ed53766a8e20114b1256/5de5ed53766a8ef9634b13e4_Orion_menu.svg" alt="" class="icon"></div>
*@    </div>
    <div class="statement-banner landing-page" style="margin-top:0px;">
        <div class="nav04_top_wrap">
            <div class="nav04_text col-md-2">Add Atlice Tap to your Homescreen! <br><span class="nav04_span"></span></div>
            <div class="col-md-10"><a href="#" onclick="document.getElementById('addToHomeDiv').setAttribute('style','display:none;')">X</a></div>
        </div>
    </div>
  </div>