@{
    Layout = null;
}
    <div class="preloader div-block-17">

        <div class="preloader">

        <img src="../images/Atlice-Tap-NFC-Tag-3.png" data-w-id="5868d2f2-86ee-a68a-90a3-cfb703db8c79" sizes="100vw" srcset="/images/Atlice-Tap-NFC-Tag-3-p-500.png 500w, /images/Atlice-Tap-NFC-Tag-3-p-800.png 800w, /images/Atlice-Tap-NFC-Tag-3-p-1080.png 1080w, /images/Atlice-Tap-NFC-Tag-3-p-1600.png 1600w, /images/Atlice-Tap-NFC-Tag-3.png 1800w" alt="" class="preloader-logo"><img src="../icons/AtliceTapAppCollage.png" alt="" class="preloader-icon">
            <div class="preloader-second-background"></div>
    

        </div>
        
    </div>