<div class="single-layout-col right pages w-col w-col-8">
    <div class="single-layout-right">
        <div class="single-layout-right-content">
            <div class="card">
                <h2 class="text-center">Atlice Pages.</h2>
                <p class="mb-40 text-center">What will you use your Atlice Tap device for?</p>
                <div class="w-form">
                    <form id="email-form" name="email-form" data-name="Email Form" redirect="/onboarding/step-3" data-redirect="/onboarding/step-3">
                        <div class="row radio-block-container w-row">
                            <div class="col w-col w-col-4">
                                <label class="radio-block w-radio">
                                    <div class="w-form-formradioinput w-form-formradioinput--inputType-custom radio-block-icon w-radio-input"></div><input type="radio" data-name="Radio 2" id="radio-2" name="radio" value="Radio" style="opacity:0;position:absolute;z-index:-1"><img src="../images/Artboard-20.png" width="50" alt="">
                                    <h5 class="heading-59">Personal</h5><span class="w-form-label">For Fun</span>
                                </label>
                            </div>
                            <div class="col w-col w-col-4">
                                <label class="radio-block w-radio">
                                    <div class="w-form-formradioinput w-form-formradioinput--inputType-custom radio-block-icon w-radio-input"></div><input type="radio" data-name="Radio" id="radio" name="radio" value="Radio" style="opacity:0;position:absolute;z-index:-1"><img src="../images/Artboard-20.png" width="50" alt="">
                                    <h5 class="heading-60">Business</h5><span class="w-form-label">For Your Business</span>
                                </label>
                            </div>
                            <div class="w-col w-col-4">
                                <label class="radio-block w-radio">
                                    <div class="w-form-formradioinput w-form-formradioinput--inputType-custom radio-block-icon w-radio-input"></div><input type="radio" data-name="Radio 3" id="radio-3" name="radio" value="Radio" style="opacity:0;position:absolute;z-index:-1"><img src="../images/Artboard-20.png" width="50" alt="">
                                    <h5 class="heading-61">Professional</h5><span class="w-form-label">For Your Job</span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-20 text-center"><input type="submit" value="Continue" data-wait="Please wait..." class="button atlice-button-primary button-block w-button"></div>
                    </form>
                    <div class="success-message w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="error-message w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>