@page
@model Atlice.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_RegisterLayout";

}
<div class="single-layout-col right w-col w-col-12">
    <div class="single-layout-right">
        <div class="single-layout-right-content">
            <div class="card welcome">
                <div class="section-11">
                    <h3 class="form11_h5 welcome">Welcome to our Private Beta!</h3>
                </div>
                <div class="section-6"><img src="~/AA1.3/images/Image-418.png" loading="lazy" sizes="100vw" srcset="/AA1.3/images/Image-418-p-500.png 500w, /AA1.3/images/Image-418.png 750w" alt="" class="image-21"></div>
                <div class="text-center">
                        <a href="/identity/account/onboarding-step-2" class="button atlice-button-primary mt-20 button-block w-button">Begin ONboarding</a>
                   
                </div>
            </div>
        </div>
    </div>
</div>