@page
@model Atlice.Areas.Identity.Pages.Account.WelcomeModel
@{
    Layout = "_RegisterLayout";

}


<div class="single-layout-col right w-col w-col-12">
    <div class="single-layout-right agreement">
        <div class="single-layout-right-content">
            <div class="form11 agreement">
                <h5 class="form11_h5">Founder Message.</h5>
                <div class="form11_form_block w-form">
                    <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form11_form">
                        <div class="form11_label_title-2 name">Full Name:</div><input type="text" class="form-box-link name w-input" maxlength="256" name="Registration-Full-Name" data-name="Registration Full Name" placeholder="John Doe" id="Registration-Full-Name" required="">
                        <div class="form11_label_title-2 mission"><strong class="bold-text-102">Thank you for joining us. Atlice Tap was made for easy sharing and networking. We&#x27;ll be working tirelessly to provide you with new ways to share your world and grow your audience.<br>‍<br>We appreciate you &quot;tapping-in&quot; to this private beta test. We strongly encourage you to assist us in solving problems for other leaders, independents and creatives. We highly value your unvarnished feedback, so we ask that when you see something, you please say something. <br><br>Now, that you are registered, lets get activated!<br>‍<br>-Alexander Oliver &amp; Allen Bradford<br>Co-Venturers, Atlice Tap</strong></div>
                    </form>
                    <div class="form09_success w-form-done">
                        <div class="form_alert">
                            <div class="form_alert_wrap">
                                <img src="https://uploads-ssl.webflow.com/5de5e999eee2054fa942a10b/5de5e999eee205041f42a33c_check-white.svg" width="14" alt="" class="form_alert_icon">
                                <div class="form_alert_line"></div>
                                <div class="form_alert_text white-text">Your information has been saved.</div>
                            </div><img src="https://uploads-ssl.webflow.com/5de5e999eee2054fa942a10b/5de5e999eee2056a2b42a336_x_white.svg" width="10" alt="">
                        </div>
                    </div>
                    <div class="form09_error w-form-fail">
                        <div class="form_error">
                            <div class="form_error_wrap">
                                <img src="https://uploads-ssl.webflow.com/5de5e999eee2054fa942a10b/5de5e999eee205e71a42a33a_alert-circle-white.svg" width="16" alt="" class="form_error_icon">
                                <div class="form_error_line"></div>
                                <div class="form_error_paragraph white-text">Looks like we&#x27;re having trouble</div>
                            </div><img src="https://uploads-ssl.webflow.com/5de5e999eee2054fa942a10b/5de5e999eee2056a2b42a336_x_white.svg" width="10" alt="">
                        </div>
                    </div>
                </div>
                <div class="section-5"><img src="../images/Image-414.png" loading="lazy" sizes="100vw" srcset="../images/Image-414-p-500.png 500w, ../images/Image-414-p-800.png 800w, ../images/Image-414-p-1080.png 1080w, ../images/Image-414.png 1316w" alt="" class="image-20 logo"></div><img src="https://uploads-ssl.webflow.com/5f2dbf258129c7429573f1a3/5fb0054dd183e407ee86e7bb_Atlice%20Tap%20NFC%20Tag%203.png" alt="" class="form11_image">
                <div class="text-center">
                    <a href="/identity/account/deviceselect" class="button atlice-button-primary mt-20 button-block-copy w-button">Get Activated!</a>
                </div>
            </div>
        </div>
    </div>
</div>